<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap 101 Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
</head>
<body class="<%=@body_class%>">
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Sinatra Strap</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="link_home" href="/">Home</a></li>
          <li><a href="/about">About</a></li>
        </ul>
        <% if session[:valid] %>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="link_secure" href="<%=CONFIG.secure_home%>"><span class="glyphicon glyphicon-cog"></span>
            Admin</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
        <% else %>
        <form class="navbar-form navbar-right" method="post" action="/login">
          <div class="form-group">
            <input type="text" id="email" name="email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="password" id="pass" name="pass" placeholder="Password" class="form-control">
          </div>
          <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-lock"></span> Sign in</button>
        </form>
        <% end %>
      </div><!--/.navbar-collapse -->
    </div><!--/.container -->
  </div>
  <%= yield %>
  <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.0.3/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>