<div class="jumbotron">
  <div class="container">
      <h1>404 <br><small>I don't know much about servers, other than, other than the one we got at my house, and my mom put a couple of apps on there and I run 'em.</small></h1><br>
      <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
  </div>
</div>